<div class="container">
  <div class="menu col-lg-12 mb-5">
    <div class="mb-4"><h2><strong>Ustawienia prywatności Twojego lokalu:</strong></h2></div>
    <ul class="list-inline d-flex justify-content-between mt-5">
      <span>Usuń moje konto i wszystkie moje dane</span>
      <ul class="list-inline d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="onDeleteAccountClick()"><b>Usuń moje konto</b></button>
      </ul>
    </ul>
  </div>
</div>
