<h2 mat-dialog-title>Dodaj produkt do menu</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="form-group">
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Kategoria</span>
        </div>
        <input type="text" [(ngModel)]="menuItemToAdd.categoryHeader" name="categoryHeader">
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Numer</span>
        </div>
        <input type="text" [(ngModel)]="menuItemToAdd.orderNumber" name="orderNumber">
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Produkt</span>
        </div>
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Opis</span>
        </div>
      </div>
        <!--
        <ng-select  [items]="roomToAddTypeOptions"
                    name="type"
                    placeholder="Wybierz typ sali"
                    [(ngModel)]="roomToAdd.type">
        </ng-select>
        -->
      </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="saveMenuItem()">Dodaj</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
