
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <app-side-nav></app-side-nav>
  </div>


  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="container-fluid page-content">
      <div class="row">
        <div class="col">
          <a id="show-sidebar" class="btn btn-sm btn-dark" >
            <i class="fas fa-bars" id="e" (click)="openAndCloseNav()"></i>
          </a>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>

