.container-fluid{
  position: relative;
}
.signinhead {
 padding-right: 0;
}
.row{
  position: relative;
  padding-right: 0;
  width: 100%;
}

.side-bar-nav{
  padding-bottom: 0;
  height: 100%;
  
}
