#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 255px;
  min-height: 40rem;
  overflow-y: hidden;
}

#page-content-wrapper {
  width: 100%;
  position: relative;
  padding-left: 250px;
}


#wrapper.menuHidden #sidebar-wrapper {
  width: 0;
}

#wrapper.menuHidden #page-content-wrapper {
  padding-left: 0;
}


.page-content{
 min-height: 40rem;
}
