<div *ngIf="category" class="container">
  <h2 mat-dialog-title>Zmień nazwę sekcji {{category.categoryHeader}}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="form">
      <div class="form-group">
        <form [formGroup]="categoryHeaderModifyForm">
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nazwa sekcji: </span>
            </div>
            <input class="input-class" type="text" [(ngModel)]="categoryHeader" formControlName="categoryHeader" placeholder="" name="categoryHeader">
          </div>
        </form>
      </div>
      <div class="valid">
        <ul class="add-button list-inline d-flex justify-content-end mb-2 mt-2 ml-1 mr-0">
          <div *ngIf="!categoryHeader" class="text-danger">
            <div class="mt-1">Pole wymagane</div>
          </div>
        </ul>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button [disabled]="categoryHeaderModifyForm.invalid" type="button" class="btn btn-outline-primary btn-sm" (click)="saveCategoryHeader()"><b>Zapisz</b></button>
    <button mat-type="button" class="btn btn-outline-primary btn-sm" (click)="onCloseClicked()"><b>Anuluj</b></button>
  </mat-dialog-actions>
</div>
