.masthead {
    height: 90vh;
    min-height: 500px;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Catamaran', sans-serif;
}

h1 {
    font-weight: 900;
}

.btn-create-account {
	background-image:linear-gradient(to right #f8be7c 5%, #ff5650 100%);
}
.btn:hover {
    background-position: right center; /* change the direction of the change here */
  }

p {
    font-size: 20px !important
}

.btn-main {
    padding: .575rem 2.75rem;
}