<div  *ngIf="productToModify && productToModifyName" class="container">
  <h2 mat-dialog-title>Modyfikuj produkt: {{productToModifyName}}</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="form-group">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Nazwa</span>
          </div>
          <input class="input-class" type="text" [(ngModel)]="productToModify.name" placeholder="" name="name">
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Opis</span>
          </div>
          <input class="input-class" type="text" [(ngModel)]="productToModify.description" placeholder="" name="description">
        </div>


        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Składniki</span>
          </div>
          <div class="aParent">
            <div  class= "ingredient-class" *ngFor="let ingredient of productToModify.ingredients; let i = index; trackBy: trackByFn">
              <input class="input-class" type="text" [(ngModel)]="productToModify.ingredients[i]" [ngModelOptions]="{standalone: true}" placeholder="" [name]="productToModify.ingredients[i]">
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="onDeleteIngredientClick(i)"><i class="fas fa-minus"></i></button>
              <button  *ngIf="i==0" class="btn btn-outline-primary btn-sm" (click)="onAddIngredientClick()"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </div>


        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Cena</span>
          </div>
          <input class="input-class" type="text" [(ngModel)]="productToModify.price" placeholder="" name="price">
        </div>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveProduct()"><b>Zapisz</b></button>
    <button mat-type="button" class="btn btn-outline-primary btn-sm" (click)="onCloseClicked()"><b>Anuluj</b></button>
  </mat-dialog-actions>
</div>
