
body, html {
  background-color: white;
  margin: 0;
  height: 100vh;
  font-family: 'Catamaran', sans-serif;
}

.page-row{
  width: 100%;
  position: relative;
}

.sidebarnav {
  position: absolute;
  left: 0;
}
