.number-picker{
  width: 15%;
}

.quantity-input{
  width: 15%;
}

.container{
  padding-top: 30px;
  margin-left: 0;
  min-height: 600px;
}

.btn-primary{
  right: 0;
  margin: 0;
}
strong{
  font-size: 22px !important;
}

.btn{
  margin-left: 5px;
  margin-right: 0;
  alignment: right;
}


