<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mt-4">Twoja trasa</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generuj pdf</a>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Wybrane lokale</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive table-striped">
            <table class="table m-0">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nazwa lokalu</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let local of checkedLocalsList; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{local.name}}</td>
                <td>
                  <!-- Call to action buttons -->
                  <ul class="list-inline m-0 pr-5">
                    <li class="list-inline-item">
                      <i class="fa fa-trash"></i>
                    </li>
                  </ul>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Podsumowanie</h6>
        </div>
        <div class="card-body">
          <ul>
            <li>Razem: <span class="font-weight-bold">{{totalCost}}zł</span></li>
            <li>Liczba lokali: <span class="font-weight-bold">{{numberOfLocalsWithChosenMenuItem}}</span></li>
          </ul>
        </div>

        <ul class="list-inline d-flex justify-content-between mt-5 mb-2 ml-1 mr-1">
          <p class="history-save ">Zapisz jako:</p>
          <input type="text" class="history-input" [(ngModel)]="historyName" name="historyName" >
        </ul>
        <ul class="list-inline d-flex justify-content-end ml-1 mr-1">
          <button id="confirmButton" type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             (click)="onAddToHistoryClick()">Zatwierdź</button>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 mb-4">
      <div class="card shadow mb-4 p-3 h-70">
        <app-route-map #mapContainer id="map"></app-route-map>
      </div>
    </div>
  </div>
</div>

