<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mt-4">Twoja trasa</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generuj pdf</a>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Wybrane lokale</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive table-striped">
          <table class="table m-0">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa lokalu</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Lolek</td>
              <td>
                <!-- Call to action buttons -->
                <ul class="list-inline m-0 pr-5">
                  <li class="list-inline-item">
                    <i class="fa fa-trash"></i>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Lolek</td>
              <td>
                <!-- Call to action buttons -->
                <ul class="list-inline m-0 pr-5">
                  <li class="list-inline-item">
                    <i class="fa fa-trash"></i>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Lolek</td>
              <td>
                <!-- Call to action buttons -->
                <ul class="list-inline m-0 pr-5">
                  <li class="list-inline-item">
                    <i class="fa fa-trash"></i>
                  </li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Podsumowanie</h6>
        </div>
        <div class="card-body">
          <ul >
            <li >Razem: <span class="font-weight-bold">300 zł</span></li>
            <li >Liczba lokali:<span class="font-weight-bold">5</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-4">
      <div class="card shadow mb-4 h-70">
        <div class="p-4" style="width: 100%;position: relative;object-fit: cover;"><iframe width="520" height="520" src="https://maps.google.com/maps?width=507&amp;height=520&amp;hl=en&amp;q=Batorego%2027%20Warszawa+(TourDeShot)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/pl/">googlemapsgenerator.com/pl/</a> & <a href="https://vaticaanstadtickets.nl/alles-wat-jij-moet-weten-over-de-sint-pieterbasiliek/">www.vaticaanstadtickets.nl/alles-wat-jij-moet-weten-over-de-sint-pieterbasiliek/</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
      </div>
    </div>

  </div>
</div>

