<h2 mat-dialog-title>Dodaj produkt do kategorii:  {{categoryHeader}}</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="form-group">
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nazwa</span>
        </div>
        <input class="input-class" type="text" [(ngModel)]="productToAdd.name" placeholder="" name="name">
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Opis</span>
        </div>
        <input class="input-class" type="text" [(ngModel)]="productToAdd.description" placeholder="" name="description">
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Składniki</span>
        </div>
        <input class="input-class" type="text" [(ngModel)]="productToAdd.ingredients.name" placeholder="" name="ingredients">
      </div>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Cena</span>
        </div>
        <input class="input-class" type="text" [(ngModel)]="productToAdd.price" placeholder="" name="price">
      </div>

    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveProduct()">Dodaj</button>
  <button mat-type="button" class="btn btn-outline-primary btn-sm" [mat-dialog-close]="true">Zamknij</button>
</mat-dialog-actions>
