ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right bottom, rgb(33, 26, 103), rgba(15, 10, 56, 0.94));
  width: 100%;
}

a {
  link: none;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: #ebeeff;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(56, 96, 225);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a,
li a:visited,

li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

li a:hover {
  color: rgb(56, 96, 225);
}






