<nav class="navbar navbar-expand-lg static-top">

  <div class="btn btn-dark" *ngIf="user" (click)="toggleBtnClicked()">
    <div class="container-fluid d-flex">
      <i class="fas fa-bars" id="toggle-button-icon"></i>
    </div>
  </div>

  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="user">
          <logout-dropmenu></logout-dropmenu>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" *ngIf="!user && displayUserView"(click)="onRegisterClick()" >Zaloguj się</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <i class="fas fa-bars" id="e" (click)="toggleBtnClicked()"></i>
    <a class="navbar-brand" href="#">
          <img src="../../assets/logo.png" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
          <p class="nav-link">Joanna Pudełko</p>
        </li>
        <li class="nav-item" >
          <a class="nav-link" (click)="signOut()">Wyloguj się</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" >Zaloguj się</button>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
