.container{
  min-height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}
strong{
  font-size: 20px;
}
.bb{
  font-size: 15px;
}
img {
  width: 90px;
}

.card{
  border: none;
  width: 600px;
}

.card .card-header {
  background-color: transparent;
  border-color: transparent;
}

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container-5 iframe{
  left:0;
  top:0;
  height:400px;
  width:100%;
  position:absolute;
}


.form-group{
  padding-top: 0;
  margin-top: 0;
}

#map {
  height: 500px;
  width: 100%;
}

.square-image {
  width:100px;
  height:100px;
  overflow:hidden
}

.checked{
  background-color: rgba(226, 221, 41, 0.82);
}

.btn-main {
  padding: .575rem 2.75rem;
}
