<div class="p-4"><p>Aby usunąć konto z serwisu wfirma.pl, należy przejść do zakładki Ogólne i kliknąć w czerwony przycisk USUŃ.</p>
  <h3>Konsekwencje usunięcia konta</h3>
  <p>Usunięcie konta powoduje bezpowrotne i nieodwracalne usunięcie wszystkich danych zapisanych na koncie
    oraz usunięcie danych z bazy Użytkowników systemu.</p>

  <p>Oznacza to że:</p>
  <ul>
    <li>administrator systemu nie przechowuje żadnej kopii bezpieczeństwa usuniętej firmy,</li>
    <li>użytkownik usunął swój adres email z bazy mailingowej administratora systemu,</li>
    <li>nie będzie otrzymywał żadnych powiadomień drogą elektroniczną w tym e-mail, sms.</li>
  </ul>

  Po usunięciu konta, Tour de Shot zachowuje jedynie te dane, które są niezbędne w celach wykonywania funkcjonowania serwisu.

  Operacja usunięcia konta jest nieodwracalna, z racji tego działając w myśl rozporządzenia RODO oraz Ustawy o ochronie danych
  osobowych nałożony jest  obowiązek zabezpieczenia danych osobowych przed ich zniszczeniem. Proces usunięcia danych wymagać
  powinien pełnego zweryfikowania przez administratora systemu tożsamości osoby takie żądania stawiającej.
  Administrator aplikacji ”Tour de Shot” nie ma możliwości weryfikacji osoby, która pisze wiadomość e-mail lub
  kontaktuje się drogą mediów społecznościowych. Samodzielne usunięcie konta przez użytkownika gwarantuje, że
  jest to jego świadoma i dobrowolna decyzja.
</div>
