<div *ngIf="category" class="container">
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="form-group">
        <form>
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nazwa sekcji menu: </span>
            </div>
            <input class="input-class" type="text" [(ngModel)]="category.categoryHeader" name="name">
          </div>
          <div class="valid">
            <ul class="add-button list-inline d-flex justify-content-end mb-2 mt-2 ml-1 mr-0">
              <div *ngIf="!category.categoryHeader && btnSaveClicked" class="text-danger">
                <div class="mt-1">Pole wymagane</div>
              </div>
            </ul>
          </div>

          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Numer porządkowy</span>
            </div>
            <input class="input-class" type="text" [(ngModel)]="category.orderNumber" placeholder="" name="description">
          </div>
          <div class="valid">
          <ul class="add-button list-inline d-flex justify-content-end mb-2 mt-2 ml-1 mr-0">
            <div *ngIf="!category.orderNumber && btnSaveClicked" class="text-danger">
              <div class="mt-1">Pole wymagane</div>
            </div>
          </ul>
          </div>
        </form>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="saveCategoryHeader()"><b>Zapisz</b></button>
    <button mat-type="button" class="btn btn-outline-primary btn-sm" (click)="onCloseClicked()"><b>Anuluj</b></button>
  </mat-dialog-actions>
</div>
