<div class="container mx-auto mt-5 mb-5">
  <ul class="add-button list-inline d-flex justify-content-between mb-2 mt-2 ml-1 mr-0">
    <div class="mb-4"><h2><strong>Szczegóły lokalu: {{local.name}}</strong></h2></div>
    <ul class="add-button list-inline d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onBackClick()"><b>Powróć do listy lokali</b>
      </button>
    </ul>
  </ul>
  <mat-tab-group [backgroundColor]="backgroundColorToggle">
    <mat-tab label="Menu">
      <div class="card shadow mb-4">
        <app-local-menu [localId]="localId"></app-local-menu>
      </div>
    </mat-tab>

    <mat-tab label="Dane kontaktowe">
      <div class="card shadow mb-4">
        <app-local-informations [localId]="localId"></app-local-informations>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
