.container{
  margin: 0;
  min-height: 600px;
  position: center;
}

.list-group-item i {
  margin-top: -1px;
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
  font-weight: 900;
}
.mr-1, .mx-1 {
  margin-right: .25rem !important;
}

.list-group-item.active {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 900;
  color: #64a4ee !important;
}

.list-group-item {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #e7e7e7 !important;
  border-radius: 0 !important;
  color: #404040;
  font-size: 14px;
  letter-spacing: .08em;
  text-decoration: none;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #EFEFEF;

}

.list-group-item.active::before {
  background-color: #ee272b !important;
}

.list-group-item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  content: '';
}

.btn{
  height: 35px;
}

strong{
  font-size: 22px;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent !important;
  color: red !important;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red !important;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green !important;
}
