<h2 mat-dialog-title>Polityka prywatności</h2>
<mat-dialog-content class="mat-typography">
  Polityka prywatności serwisu www.tourdeshot.pl
  <h3>Informacje ogólne </h3>
  <p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych
    przekazanych przez Użytkowników w związku z korzystaniem przez nich usług TourdeShot poprzez Serwis. </p>

  <h3>Adnimistrator danych</h3>
  <p>Administratorem danych osobowych zawartych w serwisie jest
    Spółka bez nazyw  z siedzibą w Warszawie  KRS0000000000, NIP 0000000000 REGON 000000000.</p>

  <h3>Incredible tooling</h3>
  <p>W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia,
    które mają zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale
    sprawdzamy ich zgodność z odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o
    świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego. </p>

  <h3>Dane osobowe</h3>
  <p>Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach,
    w których przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie
    przepisów prawa lub w celu realizacji zawartej pomiędzy stronami umowy.</p>

  <h3>Pozyskiwanie informacji</h3>

  <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:
    a) poprzez dobrowolnie wprowadzone w formularzach informacje
    b) poprzez gromadzenie plików “cookies” [patrz polityka plików “cookies”].</p>


  <p>Serwis zbiera informacje dobrowolnie podane przez użytkownika, które przekazuje ze swojego konta w
    serwisie Google przy pierwszym logowaniu do serwisu, co oznacza utworzenie konta w serwisie TourdeShot. </p>

  <p>Dane podane przy pierwszym logowaniu są przetwarzane w celu wynikającym z funkcji konkretnego formularza
    np. w celu dokonania procesu obsługi kontaktu informacyjnego.</p>

  <p>Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom trzecim,
    zgodnie z przepisami Ustawy o ochronie danych osobowych. </p>

  <p>Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła.
    Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania swoich danych w dowolnym momencie. </p>

  <p>Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój
    technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego serwisu internetowego.
    O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.</p>

  <p>W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe
    działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez serwis TourdeShot
    Strony te mogą posiadać własne polityki dotyczące prywatności oraz regulaminy, z którymi zalecamy się zapoznać.</p>

  <p>W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do
    dyspozycji - nasze dane znaleźć można w zakładce - Kontakt.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
