
.page-wrapper.toggled .sidebar-wrapper {
  left: 0;
  margin-left: 0;
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;


}

.sidebar-wrapper {
  height: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  margin-right: 0;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  margin-right: 0;
}

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 0px;
  height: 100%;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  padding-top: 30px;
  margin-right: 0;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
  height: 100%;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 30px;
  top: 10px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}


/*-----------------------------chiller-theme-------------------------------------------------*/


.chiller-theme .sidebar-wrapper {
  background-color: #EFEFEF;
  border-color: #1D2035;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  left: 0;
  height: 100%;
  margin-right: 0;
  width: 100%;

}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  background-color: #EFEFEF;
  border-color: #1D2035;
  height: 100%;
  padding-bottom: 0;
  width: 100%;
}


.chiller-theme .sidebar-wrapper .sidebar-menu ul li a{
  color: #1D2035;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a {
  color: #1D2035;
}


.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #227fee;
  font-weight: 900;

}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #ceeaff;
}

li:hover {
  background-color: #DEDEDE;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.active {
  background-color: #C3C8E5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 900;
}

.active i {
  color: #227fee;
}

h3 {
  font-size: 15px;
}
.menuHidden{
  background-color: red;
}

#wrapper.menuHidden {
  width: 0;
}

#wrapper.menuHidden  {
  padding-left: 0;
}
