
<div class="page-wrapper chiller-theme toggled d-flex" id="page-wrapper" [style.height.%]="100">
  <nav id="sidebar" class="sidebar-wrapper chiller-theme toggled d-flex" [style.height.%]="100">
    <div class="sidebar-content" [style.height.%]="100">

      <div class="sidebar-menu" id="sidebar-menu">
        <ul>
          <li class="sidebar-dropdown">
            <a routerLink="search" [state]=product routerLinkActive="active">
              <i class="fa fa-search"></i>
              <span>Wyszukiwanie</span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul>
                <li><a routerLink="search" routerLinkActive="active">Rozpocznij wyszukiwanie</a></li>
                <h3 class="mt-3 text-uppercase font-weight-bold pl-3"><i class="fas fa-filter mr-2"></i>filtry:</h3>
                  <app-tree></app-tree>
              </ul>
            </div>
          </li>
          <li class="">
            <a routerLink="route" routerLinkActive="active">
              <i class="fa fa-road"></i>
              <span>Twoja trasa</span>
            </a>
          </li>
          <li class="">
            <a routerLink="account" routerLinkActive="active" >
              <i class="far fa-user"></i>
              <span>Konto użytkownika</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


