
<footer>
    <div class="container">
      <div class="row">

               <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                   <ul class="adress">
                        <img src="../../assets/logo.png">
                        <li>
                           <p>Lorem ipsum dolor sit amet, vero omnis vocibus</p>
                         </li>

                         <li>
                           <p>+90 1234 56789</p>
                         </li>

                         <li>
                           <p>info@gmail.com</p>
                         </li>
                    </ul>
               </div>

               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <ul class="contact">
                        <li>
                           <a href="#">O projekcie</a>
                         </li>

                         <li>
                            <a href="#">Kontakt</a>
                         </li>

                         <li>
                           <a href="#">Polityka prywatności</a>
                         </li>
                   </ul>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <ul class="social">
                             <span>Social</span>
                              <li>
                                   <a href="#"><i class="fab fa-facebook fa-2x p-1"></i></a>
                              </li>

                              <li>
                                   <a href="#"><i class="fab fa-github fa-2x p-1"></i></a>
                              </li>

                              <li>
                                   <a href="#"><i class="fab fa-linkedin fa-2x p-1"></i></a>
                              </li>
                    </ul>
               </div>


          </div>
       </div>
   </footer>
