
  <h1 mat-dialog-title>Czy na pewno chcesz usunąć swoje konto?</h1>
  <div mat-dialog-content class="d-flex justify-content-center">
    <p>Jeśli zdecydujesz się na usunięcie konta Administrator usunie Twoje dane w przeciągu 30 dni.</p>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center mt-3 mb-3">
    <button  class="btn btn-outline-danger mr-4" (click)="onYesClick()">Anuluj</button>
    <button class="btn btn-danger ml-4"(click)="onConfirmClick()">Tak, usuń konto</button>
  </div>


