<app-nav></app-nav>


<div class="card">
  <div class="card-body">
    <p class="card-text">Zaplanuj swój wieczór.</p>
    <div class="button">Utwórz konto</div>
  </div>
</div>







  <!-- Footer -->
  <footer>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Polityka prywatności </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Kontakt </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Zespół </a>
  </footer>




