<app-nav *ngIf="userChecked" (toggleBtnClickedEmmiter)="onToggleBtnClicked()"></app-nav>
<!-- <app-sign-in-nav *ngIf="isLoggedIn==true"
    (toggleBtnClickedEmmiter)="onToggleBtnClicked()"></app-sign-in-nav> -->

<div class="row">
  <div class="col-lg-2"  id="side-menu-bar" *ngIf="userChecked && user && displayUserView">
    <app-side-nav></app-side-nav>
  </div>

  <div class="col-lg-2"  id="local-side-menu-bar" *ngIf="userChecked && user && localLoggedIn && !displayUserView">
    <app-local-side-nav></app-local-side-nav>
  </div>

  <div class="col" *ngIf="userChecked">
    <router-outlet></router-outlet>
  </div>
</div>


<app-footer *ngIf="userChecked"></app-footer>

