
<div class="page-wrapper chiller-theme toggled d-flex" id="wrapper" >
  <nav id="sidebar" class="sidebar-wrapper chiller-theme toggled d-flex" [style.height.%]="100">
    <div class="sidebar-content" [style.height.%]="100">

      <div class="sidebar-menu" id="sidebar-menu">
        <ul>
          <li class="">
            <a routerLink="menu" routerLinkActive="active">
              <i class="fas fa-glass-martini-alt"></i>
              <span>Menu</span>
            </a>
          </li>
          <li class="">
            <a routerLink="informations" routerLinkActive="active" >
              <i class="far fa-user"></i>
              <span>Dane kontaktowe</span>
            </a>
          </li>
          <li class="">
            <a routerLink="settings" routerLinkActive="active" >
              <i class="fa fa-cog"></i>
              <span>Ustawienia prywatności</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


