<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mt-4">Rozpocznij wyszukiwanie</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <form>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                    <input type="text" class="form-control search-slt" #search  placeholder="Podaj punkt początkowy"  >
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                    <select class="form-control search-slt" id="radiusFormControl" (change)="onRadiusChanged($event)">
                      <option>Określ promień</option>
                      <option>1 km</option>
                      <option>2 km</option>
                      <option>3 km</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                    <button type="button" class="btn btn-primary" (click)="onBtnSearchClicked()" >Szukaj</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mx-auto">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Wyniki wyszukiwania</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" id="{{ 'listItem' + i }}" [style.background-color]="local.checked ? '#dbdeeb' : 'white'" *ngFor="let local of filteredByDistLocalsList | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize ; index as i">
            <!-- Custom content-->
            <div class="media d-flex align-items-center"  >
              <img src="src=../../assets/pub.jpg" class="mr-3 square-image" alt="...">
              <div class="media-body p-1">
                <h5 class="m-0">{{local.name}}</h5>
                <p class="mb-0">{{local.address.street}}</p>
                <a [routerLink]="" (click)="openDialog(local)" class="stretched-link">szczegóły>></a>
              </div>
              <mat-checkbox class="pr-3" [checked]="local.checked" id="{{ 'checkbox' + i }}" (change)="onCheckboxClicked($event,local, i)"></mat-checkbox>
          </div>
          </li>
        </ul>
        <ngb-pagination [pageSize] = "pageSize" [collectionSize]="4" [(page)]="pageNumber" aria-label="Default pagination" class="d-flex justify-content-end mt-4 pr-2"></ngb-pagination>
    </div>
    </div>
    <div class="col-lg-7 ml-auto">
      <div class="card shadow mb-4 p-3">
        <app-map #mapContainer id="map" *ngIf="localsList"
                 [localsList]="localsList"
                 [currentFilteredByDistLocalsList]="currentFilteredByDistLocalsList"
                 [currentCheckedLocalsIdList]="currentCheckedLocalsIdList"
                 [btnSearchClicked]='btnSearchClicked'>
        </app-map>
      </div>
    </div>
  </div>
</div>









<!--<div class="container-fluid">

<div class="row">

    <div class="col-lg-12">
      <div class="card mt-2">
        <form>
          <div class="form-group row">
            <label for="inputStartPoint" class="col-sm-4 col-form-label">Punkt początkowy</label>
            <div class="col-sm-8">
              <input type="form-control" class="form-control" id="inputStartPoint">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputRadius" class="col-sm-4 col-form-label">Promień</label>
            <div class="col-sm-8">
              <input type="form-control" class="form-control" id="inputRadius">
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
        </form>
      </div>

      <div class="card card-outline-secondary my-4">


          <div *ngFor="let local of localsList">
            <app-local-item [local]="local"></app-local-item>
          </div>

      </div>


    </div>


    <div class="col-lg-5 ml-auto">

      <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 100%">
        <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
      </div>

    </div>

  </div>
</div> -->

