
<div class="row">
    <div class="col-lg-6">

      <div class="card mt-2">
        <form>
          <div class="form-group row">
            <label for="inputStartPoint" class="col-sm-4 col-form-label">Punkt początkowy</label>
            <div class="col-sm-8">
              <input type="form-control" class="form-control" id="inputStartPoint">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputRadius" class="col-sm-4 col-form-label">Promień</label>
            <div class="col-sm-8">
              <input type="form-control" class="form-control" id="inputRadius">
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
        </form>
      </div>

      <div class="card card-outline-secondary my-4">


          <div *ngFor="let local of localsList">
            <app-local-item [local]="local"></app-local-item>
          </div>


      </div>
      <!-- /.card -->

    </div>


    <div class="col-lg-5 ml-auto">
      <!--Google map-->
      <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 100%">
        <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=415992652432-e26hktvg68cv3dto6e37j1p4tij8vk9s&callback=initMap"
                type="text/javascript"></script>

      </div>
    </div>

  </div>


