<div class="container">
  <div *ngIf="local">
    <div class="mb-4"><h2><strong>Dane kontaktowe Twojego lokalu:</strong></h2></div>
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-group ml-3">

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-bookmark mr-2"></i>Nazwa:</span>
              </div>
              <input [disabled]="isDisable" class="input-class" type="text" [(ngModel)]="local.name" placeholder=""
                     name="local.name" id="inputLocalName">
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-list-alt mr-2"></i>Kategorie:</span>
              </div>
              <div class="aParent">
                <div class="ingredient-class"
                     *ngFor="let category of local.localCategories; let i = index; trackBy: trackByFn">
                  <input [disabled]="isDisable" class="input-class" type="text" [(ngModel)]="local.localCategories[i]"
                         [ngModelOptions]="{standalone: true}" placeholder="" [name]="local.localCategories[i]">
                  <button [disabled]="isDisable" type="button" class="btn btn-outline-primary btn-sm"
                          (click)="onDeleteCategoryClick(i)"><i class="fas fa-minus"></i></button>
                  <button [disabled]="isDisable" *ngIf="i==0" class="btn btn-outline-primary btn-sm"
                          (click)="onAddCategoryClick()"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker-alt mr-2"></i>Adres:</span>
              </div>
              <input [disabled]="isDisable" class="input-class" #address type="text" [(ngModel)]="local.street"
                     placeholder="" name="local.street" id="inputLocalAddressStreet">
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-globe mr-2"></i>Strona internetowa:</span>
              </div>
              <input [disabled]="isDisable" class="input-class" type="text" [(ngModel)]="local.website" placeholder=""
                     name="local.website" id="inputLocalWebsite">
            </div>
          </li>


          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope mr-2"></i>Email:</span>
              </div>
              <input [disabled]="isDisable" class="input-class" type="text" [(ngModel)]="local.email"
                     placeholder="" name="local.email" id="inputLocalEmail">
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-phone mr-2"></i>Telefon:</span>
              </div>
              <input [disabled]="isDisable" class="input-class" type="text" [(ngModel)]="local.phoneNumber"
                     placeholder="" name="local.phoneNumber" id="inputLocalPhoneNumber">
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-image mr-2"></i>Zdjęcie:</span>
              </div>
              <input [disabled]="isDisable" class="input-class mt-3" type="text" [(ngModel)]="local.image"
                     placeholder=""
                     name="local.image" id="inputLocalImage">
            </div>
          </li>

          <li class="list-group-item">
            <div class="input-group mt-2 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-clock mr-2"></i>Godziny otwarcia:</span>
              </div>


              <div class="input-class timeclass">
                <ul>
                  <li *ngFor="let detail of local.openingHours.schedule; let i = index">
                    <div class="input-group mt-2 mb-2">
                      <div class="time-group-prepend">
                        <span class="time"> <i class="fas fa-clock mr-2"></i>{{detail.dayOfWeek}}:</span>
                      </div>
                      <input [disabled]="isDisable" class="input-class-time" type="text" [(ngModel)]="detail.openTime"
                             placeholder="" name="detail.openTime" id="inputLocalOpenTime{{i}}">
                      <span class="ml-1 mr-1">-</span>
                      <input [disabled]="isDisable" class="input-class-time" type="text" [(ngModel)]="detail.closeTime"
                             placeholder="" name="detail.openTime" id="inputLocalCloseTime{{i}}">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
        <ul *ngIf="isDisable==true" class="list-inline d-flex justify-content-end mt-2">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="onModifyClick()"><b>Modyfikuj</b>
          </button>
        </ul>
        <ul *ngIf="isDisable==false" class="list-inline d-flex justify-content-end mt-2">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="onSaveClick()"><b>Zapisz</b></button>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancelClick()"><b>Anuluj</b></button>

        </ul>
      </div>
      <div class="col-lg-4">
        <img src={{local.image}} loading="lazy">
      </div>
    </div>

  </div>

</div>


