<h2 mat-dialog-title>Polityka cookies</h2>
<mat-dialog-content class="mat-typography">
  <p>Informujemy, iż w celu optymalizacji treści dostępnych na naszej stronie, dostosowania ich
    do indywidualnych potrzeb korzystamy z informacji zapisanych za pomocą plików cookies na
    urządzeniach końcowych użytkowników. Pliki cookies użytkownik może kontrolować za pomocą
    ustawień swojej przeglądarki internetowej. Dalsze korzystanie z naszej strony, bez zmiany
    ustawień przeglądarki internetowej oznacza, iż użytkownik akceptuje stosowanie plików cookies.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
